.userImg{
    width: 50px;
}
.chat-message-robot{
    display: flex;
    align-items: start;
}
.chat-message-user{
    display: flex;
    justify-content: end;
    align-items: start;
}
.chat-message-text{
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20;
    overflow-wrap: break-word;
    max-width: 300px;   
}
.chat-message-profile{
    width: 45px;
    height: 45px;
}